{% extends "stats\base_generic.html" %}

{% block title %}
<title>League Stats</title>
<div class="navbar-brand">League Stats</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Player
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for player in players %}
                    <li>
                        <a class="dropdown-item" href="{% url 'stats:player_stats' player %}">
                            {{ player }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Player
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for player in players %}
                    <li>
                        <a class="dropdown-item" href="{% url 'stats:player_stats' player %}">
                            {{ player }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Player
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for player in players %}
                    <li>
                        <a class="dropdown-item" href="{% url 'stats:player_stats' player %}">
                            {{ player }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block chart_scripts %}
<script type="text/javascript">
    var bar_labels = {{ bar_data|safe }};

    var barChartData = {
        labels: bar_labels.players,
        datasets: [{
            label: 'Win Rate',
            backgroundColor: "rgba(19, 15, 64,1.0)",
            data: bar_labels.winrate
        }]
    };

    var ctx = document.getElementById("winRateBarChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: barChartData
        });
</script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <!--<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Charts</li>
        </ol>-->
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> All Player Stats
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Games</th>
                            <th>Wins</th>
                            <th>Win Rate</th>
                        </tr>
                        </thead>
                        <!--<tfoot>
                             <tr>
                                 <th>Name</th>
                                 <th>Position</th>
                                 <th>Office</th>
                                 <th>Age</th>
                                 <th>Start date</th>
                                 <th>Salary</th>
                             </tr>
                        </tfoot>-->
                        {% for summary_stat in summary_stats %}
                        <tr>
                            <td>{{ summary_stat.player_name }}</td>
                            <td>{{ summary_stat.games }}</td>
                            <td>{{ summary_stat.wins }}</td>
                            <td>{{ summary_stat.win_rate }}</td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

          <div class="row">
            <div class="col-lg-8">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Bar Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="winRateBarChart" width="100" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Example Pie Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Pie Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="myPieChart" width="100%" height="100"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
              <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Area Chart Example
            </div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% endblock %}