{% extends "stats\base_generic.html" %}

{% block title %}
<title>League Stats {% for p in player %}{{p.player_tidy}}{% endfor %}</title>
<div class="navbar-brand">League Stats - {% for p in player %}{{p.player_tidy}}{% endfor %}</div>

{% endblock %}

{% block chart_scripts %}
<!-- Win Rate Across Players -->
<script type="text/javascript">
    var playerSummary = {{ players_summary|safe }};

    var barChartData = {
        labels: playerSummary.player,
        datasets: [{
            label: "Win Rate",
            borderColor: "rgba(106, 176, 76,1.0)",
            backgroundColor: "rgba(106, 176, 76,1.0)",
            <!--fill: false,-->
            data: playerSummary.pct_wins
        }]
    };

    var barOptions = {
        scales: {
            xAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 100
                }
            }]
        },
        legend: {
            display: false
        }
    };

    var ctx = document.getElementById("winRateBarChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: barChartData,
        options: barOptions
    });
</script>

<!-- Win Rate Across Games -->
<script type='text/javascript'>
    var gamesSummary = {{ games_summary|safe }};
    var cumSumWins = []
    gamesSummary.n_wins.reduce(function(a,b,i) { return cumSumWins[i] = a+b; },0)

    var ctx = document.getElementById("gamesWonAreaChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: gamesSummary.game_id,
        datasets: [{
          label: "Wins",
          lineTension: 0.3,
          backgroundColor: "rgba(2,117,216,0.2)",
          borderColor: "rgba(2,117,216,1)",
          pointRadius: 5,
          pointBackgroundColor: "rgba(2,117,216,1)",
          pointBorderColor: "rgba(255,255,255,0.8)",
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(2,117,216,1)",
          pointHitRadius: 20,
          pointBorderWidth: 2,
          data: cumSumWins,
        }],
      },
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              min: 0,
              maxTicksLimit: 5
            },
            gridLines: {
              color: "rgba(0, 0, 0, .125)",
            }
          }],
        },
        legend: {
          display: false
        }
      }
    });
</script>

<!-- Ranked Games Pie Chart -->
<script type='text/javascript'>
var ctx = document.getElementById("rankedGamesPie");
var myPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Ranked", "Unranked"],
    datasets: [{
      data: [{% for p in player %}{{p.n_ranked}}, {{p.n_unranked}}{% endfor %}],
      backgroundColor: ['#27ae60', '#7f8c8d'],
    }],
  },
});
</script>

{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <!--<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Charts</li>
        </ol>-->

        <ol class="breadcrumb">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Player
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for player in players %}
                    <li>
                        <a class="dropdown-item" href="{% url 'stats:player_stats' player %}">
                            {{ player }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </ol>


        <div class="row">
            <div class="col-lg-4">
                <!-- Area Chart Example-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-chart-area"></i> Wins Over Time
                    </div>
                    <div class="card-body">
                        <canvas id="gamesWonAreaChart" width="100%" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated ???</div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Player Win Rates -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-chart-bar"></i> Player Win Rates
                    </div>
                    <div class="card-body">
                        <canvas id="winRateBarChart" width="100%" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated ???</div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Ranked Games Pie -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-chart-pie"></i> Ranked Games Breakdown
                    </div>
                    <div class="card-body">
                        <canvas id="rankedGamesPie" width="100%" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated ???</div>
                </div>
            </div>
        </div>

        <!-- Player Stats Table -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> All Player Stats
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Games</th>
                            <th>Wins</th>
                            <th>Win Rate</th>
                        </tr>
                        </thead>
                        {% for player in player_summary_test %}
                        <tr>
                            <td>{{ player.player_tidy }}</td>
                            <td>{{ player.n_games }}</td>
                            <td>{{ player.n_wins }}</td>
                            <td>{{ player.pct_win }}</td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% endblock %}